body {
  margin: 0;
  padding: 0.2rem;
}

body * {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  flex-direction: column;
  height: 72px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin: auto;
  padding: 0px 10px;
  box-sizing: border-box;
  margin: 0.2rem;
}

.screen-last {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
  font-size: 1rem;
  color: #70757A;
  margin-bottom: 4px;
}

.screen-operation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  flex: 1;
  overflow: hidden
}

.screen-operation-start,
.screen-operation-end {
  font-size: 2rem;
  height: 100%;
}

.screen-operation-end {
  color: #cccccc;
}

.row .btn {
  cursor: pointer;
  flex: 1;
  border: none;
  padding: 0.4rem;
  border-radius: 4px;
  background-color: #f1f3f4;
  margin: 0.2rem;
  outline: none;
  user-select: none;
}

.row .btn-dark {
  background-color: #dfe1e5;
}

.row .btn-primary {
  background-color: #4285f4;
  color: #fff;
}

.row .btn:hover {
  background-color: #e8eaeb;
}

.row .btn-dark:hover {
  background-color: #d7d9dd;
}

.row .btn-primary:hover {
  background-color: #4d8bf1;
}
